<div class="container">
  <div class="row">
    <div class="error-template">
      <h1>Oops!</h1>
      <h2>404 : PAGE NON TROUVÉE</h2>
      <div class="error-details">

      </div>
      <div class="error-actions">
        <a [routerLink]="['/accueil']" class="btn btn-primary">
          <i class="icon-home icon-white"></i>Accueil</a>
        <a [routerLink]="['/contact']" class="btn btn-default">
          <i class="icon-envelope"></i> Contact Support </a>
      </div>
    </div>
  </div>
</div>
